body {
  min-width: 260px;
  text-align: center;
  font-family: 'Merriweather', sans-serif;
}

p {
  max-width: 640px;
  margin: 0 auto;
  padding-bottom: 40px;
  text-align: center;
}

#main {
  margin: 30px auto;
  background: #eee;
  padding: 20px;
  border: 0px solid;
  border-radius: 10px;
}

#img-div {
  margin: 0 auto;
  background: white;
  width: 95%;
}

#image {
  max-width: 50%;
  padding: 10px;
  display: block;
  margin: 0 auto;
}

#img-caption {
  font-family: 'Vollkorn', serif;
}

#tribute-info ul {
  margin: 0 auto;
  max-width: 550px;
  text-align: left;
  border: solid 1px;
  border-radius: 2%;
  padding: 30px;
  box-shadow: 1px 2px 20px 1px;
}

blockquote {
  font-style: italic;
}